version: 2

jobs:
  build_docker:
    docker:
      - image: docker:18.04.0-ce
    working_directory: ~/pdf-service
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: docker1-{{ .Branch }}
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i ~/cache/image.tar | true
      - run:
          name: Build Docker image
          command: docker build --cache-from=pdf-service -t pdf-service .
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p ~/cache
            docker save -o ~/cache/image.tar pdf-service
      - save_cache:
          key: docker1-{{ .Branch }}-{{ epoch }}
          paths:
            - ~/cache/image.tar
      - deploy:
          name: Push Docker image
          command: |
            echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
            docker tag pdf-service:latest "$DOCKER_REPO:$CIRCLE_BUILD_NUM"
            docker push "$DOCKER_REPO:$CIRCLE_BUILD_NUM"

workflows:
  version: 2
  build_docker:
    jobs:
      - build_docker:
          filters:
            branches:
              only:
                - master
                - add/circleci_config
